@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.coontainer{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    background: rgb(16, 47, 78);
    border: 10px solid rgb(20, 25, 29);
    border-radius: 5px;
}
.calkeypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    background: rgb(20, 25, 29);
}
input[type="text"] {
    height: 75px;
    width: 250px;
    background: gray;
    border: 0px;
    color: rgb(251, 253, 255);
    text-align: right;
}
.clear{
    grid-column: 1/3;
    grid-row: 1;
    
}
.delet{    
    color: black;
}
.result{
    grid-column: 3/5;
    grid-row: 5;
}
button{
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: white ;
    background: gray;
}
.c{
    background: turquoise;
    color: black;
}

